@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

* {
  font-family: "Open Sans", sans-serif;
}

@keyframes background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
